@import './fonts.css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --font-nunito-sans: 'Nunito Sans', system-ui, sans-serif;
}

@theme {
  --color-primary: #171717;
  --color-accent: var(--color-blue-700);
  --color-accent-dark: var(--color-orange-500);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-nunito-sans);
  font-weight: var(--font-weight-medium);
}
